.headerContainer{
    padding: 10px;
    background-color: #090922;
    box-shadow: 0px 2px 8px #c5c4c485;
    color: #E6F5FF;
    width: auto;
    height: 70px;
}

.header__section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    height: 85px;
    width: auto;
}

.header__btnMenu{
    background-color: transparent;
    border-style: none;
}

.header__menuIcon{
    color: #E6F5FF;
    height: 30px;
    width: auto;
    cursor: pointer;
}

.navbar__container{
    display: none;
}

@media all and (min-width: 768px){
    .headerContainer{
        height: 100px;
    }

    .header__section p{
        font-size: 28px;
    }

    .header__logo{
        height: 120px;
    }
    
    .header__menuIcon{
        height: 40px;
    }
}

@media all and (min-width: 1024px){
    .header__logo{
        height: 130px;
    }

    .header__btnMenu{
        display: none;
    }

    .navbar__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__navbarOptions{
        color: #E6F5FF;
        font-size: 20px;
        text-decoration: none;
        margin-right: 10px;
        box-shadow: 0px 1px 4px #c5c4c485;
        padding: 5px;
        border-radius: 10px;
        cursor: pointer;
    }

    .header__navbarOptions:hover{
        box-shadow: 0px 0px 10px #E6F5FF;
    }

    .active{
        color: #A13333;
        box-shadow: 0px 0px 10px #E6F5FF;
    }

    .signOutIcon{
        font-size: 26px;
    }

}