.homeContainer{
    margin: 0;
    background: url('../assets/fondo.png');
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    padding-bottom: 20px;
}

.homeContainer h2{
    color: #E6F5FF;
    text-align: center;
}

.home__divBtnInput{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.home__divBtnInput input{
    border-style: none;
    height: 41px;
    width: auto;
    font-size: 14px;
}

.home__divBtnInput input:focus {
    outline: solid 1px #A13333;
    box-shadow: 0px 0px 10px #E6F5FF;
}

.home__divInput{
    /* border: solid 1px green; */
    height: 44px;
}

.home__btnSearch{
    /* border-style: none; */
    background-color: #090922;
    border-style: solid;
    box-shadow: 0px 1px 4px #c5c4c485;
    color: #E6F5FF;
    font-size: 16px;
    height: 44px;
    width: 44px;
    cursor: pointer;
}


.home__btnPrevious, .home__btnNext{
    border-style: solid;
    box-shadow: 0px 1px 4px #c5c4c485;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    background-color: #090922;
    color: #E6F5FF;
    cursor: pointer;
}

.home__btnPrevious:hover, .home__btnNext:hover, .home__btnSearch:hover{
    box-shadow: 0px 0px 10px #E6F5FF;
}

 /* cards style */
.home__Card{
    background-color: #E6F5FF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 12px;
    margin: 20px;
    padding: 10px;
    min-height: 300px;
    box-shadow: 2px 2px 6px #ffffff85;
}

.home__titleCard{
    color: #090922;
    font-weight: bold;
    font-size: 24px;
    min-height: 100px;
    /* border: solid 2px rgb(255, 238, 0); */
}

.home__cardContent{
    /* border: solid 2px rgb(255, 238, 0); */
    text-align: center;
}
.home__cardContent p{
    font-size: 20px;
}

.home__imageCard{
    /* border: solid 2px rgb(255, 238, 0); */
    min-height: 280px;
}

.home__imageCard img{
    height: auto;
    width: 180px;
}

.home__infoCard{
    font-size: 16px;
    /* border: solid 2px rgb(255, 238, 0); */
    text-align: center;
}

.home__btnSeeMore{
    background-color: #090922;
    box-shadow: 2px 2px 6px #090922cb;
    color: #E6F5FF;
    height: 44px;
    width: 120px;
    border-radius: 12px;
    border-style: none;
    font-size: 16px;
    cursor: pointer;
    margin: 5px 0 20px 0;
}

@media all and (min-width: 768px){
    .home__divBtnInput input{
        font-size: 20px;
    }
    
    .home__btnSearch{
        font-size: 20px;
        height: 46px;
    }

    .home__btnPrevious, .home__btnNext{
        height: 55px;
        width: 55px;
        font-size: 26px;
    }

    /* cards style */
    .home__cards--container{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .home__Card{
        width: 40%;
    }
}

@media all and (min-width: 1024px){
    
    .homeContainer h2{
        font-size: 32px;
    }

    .home__divBtnInput input{
        font-size: 26px;
        height: 48px;
    }
    
    .home__btnSearch{
        font-size: 26px;
        height: 50px;
        width: 50px;
    }

    .home__btnPrevious, .home__btnNext{
        height: 70px;
        width: 70px;
        font-size: 34px;
    }

    /* cards style */
    .home__Card{
        width: 25%;
    }

    .home__titleCard{
        font-size: 26px;
    }

    .home__btnSeeMore{
        height: 50px;
        width: 150px;
        font-size: 18px;
    }
}