.menu {
    background-color: rgba(0, 0, 0, .65);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 90px;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: flex-end;
    align-items: flex-start;
}

.menu_dialog {
    background-color: #E6F5FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 24px;
    padding: 20px;
    width: auto;
}

.menu-open {
    display: flex;
}

