.modal {
    background-color: rgba(0, 0, 0, .65);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal_dialog {
    max-height: 500px;
    width: 85%;
    background-color: #E6F5FF;
    border-radius: 12px;
    display: inline-grid;
    gap: 5px;
    flex-direction: column;
    padding: 5px;
    margin: 30px 20px;
    overflow-y: scroll;
    /* width: 230px; */
}

.modal-open {
    display: grid;
}

.closeButtonModal {
    /* border: solid green 2px; */
    background-color: transparent;
    border-style: none;
    width: 100%;
    height: 50px;
    display: flex;
}

.iconCloseModal {
    color: #A13333;
    width: 40px;
    height: 40px;
    position: fixed;
}

.home__Card--modal{
    background-color: #090922;
    color: #E6F5FF;
    width: 80%;
    margin-top: 5px;
}

.home__titleCard--modal {
    font-size: 20px;
}

@media all and (min-width: 768px){
    .modal_dialog{
        min-width: 300px;
        width: 350px;
        min-height: 300px;
    }

    .home__Card--modal{
        font-size: 18px;
    }

    .iconCloseModal {
        width: 40px;
        height: 40px;
    }
}

@media all and (min-width: 1024px){
    .modal_dialog{
            width: 450px;
            min-height: 600px;
        }

        .home__Card--modal{
            font-size: 24px;
        }

        .iconCloseModal {
            width: 50px;
            height: 50px;
        }
    
}