.random__container--btn{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

.btn__random{
    background-color: #090922;
    border-style: solid;
    box-shadow: 0px 1px 4px #c5c4c485;
    color: #E6F5FF;
    font-size: 16px;
    height: 44px;
    width: 120px;
}

@media all and (min-width: 768px){

}

@media all and (min-width: 1024px){
.btn__random{
    margin-bottom: 20px;
    font-size: 24px;
    height: 60px;
    width: 200px;
}

.random__title{
    font-size: 28px;
}
}